@import '../_variables.scss';
#Arts{
    inline-size: min(100%, 80rem);
    margin-inline: auto;
    display: grid;
    padding-top: 2.8em;
    h2{
        margin-bottom: 0;
        color: $section-tittle-text-color;
    }
    
    p{
        line-height: 1.5rem;
        color: $section-paragraph-text-color;
        a:link {
            color: $link-color;
        }
          
          /* visited link */
        a:visited {
            color: $visited-link-color;
        }
          
          /* mouse over link */
        a:hover {
            color: $hover-link-color;
        }
          
          /* selected link */
        a:active {
            color: $selected-link-color;
        } 
    }
    .scrollong-wrapper{
        $_spacer: 1rem;
        display: grid;
        gap: $_spacer + .5;
        grid-auto-flow: column;
        grid-auto-columns: 60%;
        padding: 1.5em $_spacer $_spacer + 1;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        background-color: rgb(250, 250, 250);
        border-radius: .3em;
        border: 1px solid $art-tile-border;
        .card{
            display: grid;
            grid-template-rows: max-content;           
            // padding: 0 1em;
            img{
                border-radius: 1em;
                inline-size: 100%;
                box-shadow: 3px 3px 6px $art-card-boxShadow;
                aspect-ratio: 1 / 1;
                object-fit: cover   ;
                object-position: center;
            }
        }
    }
    .snaps-inline{
        scroll-snap-type: inline mandatory;
        scroll-padding-inline: 1rem;
    }
    .snaps-inline > * {
        scroll-snap-align: start;
    }
}
@media (min-width: 480px){
    #Arts{
        .scrollong-wrapper{
            grid-auto-columns: 40%;
        }

    }
}

@media (min-width: 760px){
    #Arts{
        .scrollong-wrapper{
            grid-auto-columns: 27%;
        }
    }
}

@media (min-width: 990px){
    #Arts{
        grid-auto-columns: 100%;
        .scrollong-wrapper{
            grid-auto-columns: 28%;
        }
    }
}