@import '../_variables.scss';
#Contacts{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6em 0 2em;
    line-height: 1.5;
    h2{
        color: $section-tittle-text-color;
        // font-weight: 500;
        margin-bottom: 0;
    }
    p{
        color: $section-paragraph-text-color;

        margin-bottom: 1.5em;
        span{
            color: $gmail-text-color;
        }
    }
    #socials-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        font-size: 1.5em;
        a{
            color: $socials-logo-color;
        }
        a:hover{
            color: $hover-socials-logo-color;
        }
        // increase freecodecamp icon because it look so small 
        a:nth-child(3){
            font-size: 1.35em;
            position: relative;
            top: .04em
        }
    }
}