
#Contacts{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 0 6em;
    h2{
        color: rgb(20, 20, 20);
        font-weight: 500;
    }
    p{
        color: rgb(32, 32, 32);
        line-height: 1.5em;
        span{
            color: rgba(173, 18, 44, 0.897);
        }
    }
    #socials-wrapper{
        display: flex;
        justify-content: center;
        gap: 1em;
        font-size: 2em;
    }
}