@import '../_variables.scss';
#Hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // animation: introLoad 1s ease-in-out forwards;
    h1{
        position: relative;
        padding-top: 4em;
        font-size: 2rem;
        // font-family: 'Space Grotesk', sans-serif;
        margin-bottom: .3em;
        color: #1a1b1f;
        // text-align: center;
        animation: introLoad-name 1s ease-in-out forwards;
        span#underline{
            border-bottom: 4px solid $hero-text-color;
        }  
    }
    p{
        position: relative;
        text-align: center;
        margin-top: 0;
        // margin-left: 35%;
        color: $hero-text-color;
        margin-bottom: 50%;
        animation: introLoad-rule 1.5s ease-in-out forwards;
        span#rule{
            font-size: 2rem;
            font-weight: 800;
            color: $rule-text-inner-color;
            text-shadow: 1px 1px 1px $rule-text-outer-color, 0 -1px 1px $rule-text-outer-color, 1px 1px 1px $rule-text-outer-color,
            -1px 0 0 $rule-text-outer-color, 1px 1px 0 $rule-text-outer-color, 1px 0 0 $rule-text-outer-color, 0 -1px 0 $rule-text-outer-color;
        }
    }
    
    img#arrowDown{
        height: 70px;
        width: 70px;
        animation: arrowAnimation 1s alternate-reverse 2s infinite, introload-opacity 2s ease-in-out forwards;
    }
}

@media (min-width: 500px){
    #Hero{
        display: unset;
        h1{
            padding-top: 1.5em;
            font-size: 2.5rem;
            margin-bottom: .5em;
        }
        p{
            text-align: unset;
            margin-left: 35%;
            margin-bottom: 25%;
            span#rule{
                font-size: 2.5rem;
            }
        }
        img#arrowDown{
            height: 85px;
            width: 85px;
        }
    }
}

@media (min-width: 768px){
    #Hero{
        h1{
            padding-top: 1em;
            font-size: 2.5rem;
        }
        p{
            line-height: 2rem;
            span#rule{
                font-size: 2.8rem;
            }
            margin-left: 40%;
            margin-bottom: 20%;
        }
        img#arrowDown{
            height: 95px;
            width: 95px;
        }
    }
}
@media (min-width: 992px) {
    #Hero{
        margin-top: 2.5em;
        p{
            margin-left: 50%;
            margin-bottom: 15%;
        }
    }

}
@media (min-width: 1280px) {
    #Hero{
        margin-top: 1.5em;
        h1{
            font-size: 3.5rem;
        }
        p{
            margin-left: 33%;
            margin-bottom: 18%;
            span#rule{
                font-size: 3.5rem;
            }
        }
    }
    
}

@keyframes arrowAnimation {
    from{
      transform: translateY(-45px);
    //   opacity : 0;
    }
    to{
      transform: translateY(0);
    //   opacity: 1;
    }
}

@keyframes introLoad-name {
    from {
        transform: translateX(-100px);
        opacity : 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes introLoad-rule {
    from {
        transform: translateX(100px);
        opacity : 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes introload-opacity {
    from {
        opacity : 0;
    }
    to {
        opacity: 1;
    }
}