
#Hero{
    height: 100vh;
    width: 100%;
    h1{
        padding-top: 3em;
        font-size: 1.7rem;
        // font-family: 'Space Grotesk', sans-serif;
        margin-bottom: .5em;
        color: #1a1b1f;
        span#underline{
            border-bottom: 4px solid #1a1b1f;
        }  
    }
    p{
        margin-top: 0;
        // margin-left: 35%;
        margin-bottom: 55%;
        span#rule{
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
            text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
            -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
        }
    }   
    img#arrowDown{
        height: 70px;
        width: 70px;
        animation: arrowAnimation 1s alternate-reverse infinite;
    }
}

@media (min-width: 500px){
    #Hero{
        h1{
            padding-top: 1.5em;
            font-size: 2.5rem;
            margin-bottom: .5em;
        }
        p{
            margin-left: 35%;
            margin-bottom: 25%;
            span#rule{
                font-size: 2.5rem;
            }
        }
        img#arrowDown{
            height: 85px;
            width: 85px;
        }
    }
}

@media (min-width: 768px){
    #Hero{
        h1{
            padding-top: 1em;
            font-size: 2.5rem;
        }
        p{
            line-height: 2rem;
            span#rule{
                font-size: 2.5rem;
            }
            margin-left: 40%;
            margin-bottom: 20%;
        }
        img#arrowDown{
            height: 95px;
            width: 95px;
        }
    }
}
@media (min-width: 992px) {
    #Hero{
        margin-top: 2.5em;
        p{
            margin-left: 50%;
            margin-bottom: 15%;
        }
    }

}
@media (min-width: 1280px) {
    #Hero{
        margin-top: 2.5em;
        p{

            margin-left: 45%;
            margin-bottom: 18%;
        }
    }
    
}

@keyframes arrowAnimation {
    from{
      transform: translateY(-45px);
    }
    to{
      transform: translateY(0);
    }
  }