.Hero{
    height: 100%;
    width: 100%;
    h1{
        padding-top: 2.7em;
        font-size: 1.9rem;
        margin-bottom: 1em;
        color: #1a1b1f;
        span#underline{
            border-bottom: 4px solid #1a1b1f;
        }  
    }
    p{
        margin-top: 0;
        margin-left: 35%;
        margin-bottom: 31%;
        span#rule{
            font-size: 1.8em;
            font-weight: 800;
            color: #fff;
            text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
            -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
        }
    }   
    img#arrowDown{
        height: 70px;
        width: 70px;
    }
}

@media (min-width: 500px){
    .Hero{
        h1{
            padding-top: 1.5em;
            font-size: 2.4rem;
            margin-bottom: .5em;
        }
        p{
            margin-bottom: 25%;
            span#rule{
                font-size: 2em;
            }
        }
        img#arrowDown{
            height: 85px;
            width: 85px;
        }
    }
}

@media (min-width: 780px){
    .Hero{
        h1{
            padding-top: 1em;
            font-size: 3.5rem;
        }
        p{
            span#rule{
                font-size: 2.5rem;
            }
            
            margin-bottom: 15%;
        }
        img#arrowDown{
            height: 95px;
            width: 95px;
        }
    }
}
@media (min-width: 992px) {
    .Hero{
        p{
            span#rule{
                font-size: 3rem;
            }
            margin-bottom: 10%;
        }
    }
    
}

@media (min-width: 1279px) {
    .Hero{
        p{
            span#rule{
                font-size: 3rem;
            }
            
            margin-bottom: 15%;
        }
    }
    
}