@import '../_variables.scss';
#Hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        padding-top: 5em;
        font-size: 1.5rem;
        margin-bottom: .3em;
        color: #1a1b1f;
        animation: introLoad-name 1s ease-in-out forwards;
        span#underline{
            border-bottom: 4px solid $hero-text-color;
        }  
    }
    p{
        text-align: center;
        margin-top: 0;
        color: $hero-text-color;
        margin-bottom: 50%;
        animation: introLoad-rule 1s ease forwards;
        span#rule{
            font-size: 2rem;
            font-weight: 800;
            color: $rule-text-inner-color;
            text-shadow: 1px 1px 1px $rule-text-outer-color, 0 -1px 1px $rule-text-outer-color, 1px 1px 1px $rule-text-outer-color,
            -1px 0 0 $rule-text-outer-color, 1px 1px 0 $rule-text-outer-color, 1px 0 0 $rule-text-outer-color, 0 -1px 0 $rule-text-outer-color;
        }
    }
    
    img#arrowDown{
        height: 70px;
        width: 70px;
        animation: introload-opacity 2s ease-in-out forwards, arrowAnimation 1s alternate-reverse 2s infinite;
    }
}

@media (min-width: 500px){
    #Hero{
        display: unset;
        h1{
            padding-top: 2em;
            font-size: 2.5rem;
            margin-bottom: .5em;
        }
        p{
            text-align: unset;
            margin-left: 35%;
            margin-bottom: 25%;
            span#rule{
                font-size: 2.5rem;
            }
        }
        img#arrowDown{
            position: relative;
            left: -20px;
            height: 85px;
            width: 85px;
        }
    }
}

@media (min-width: 768px){
    #Hero{
        h1{
            padding-top: 1.2em;
            font-size: 2.8rem;
        }
        p{
            line-height: 2rem;
            span#rule{
                font-size: 2.8rem;
            }
            margin-left: 37%;
            margin-bottom: 20%;
        }
        img#arrowDown{
            height: 95px;
            width: 95px;
        }
    }
}

@media (min-width: 1280px) {
    #Hero{
        h1{
            font-size: 3.5rem;
        }
        p{
            margin-bottom: 18%;
            span#rule{
                font-size: 3.5rem;
            }
        }
    }
    
}

@keyframes arrowAnimation {
    from{
      transform: translateY(-45px);
      
    }
    to{
      transform: translateY(0);
      
    }
}

@keyframes introLoad-name {
    from {
        transform: translateX(-100%);
        opacity : 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes introLoad-rule {
    from {
        transform: translateX(-100%);
        opacity : 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes introload-opacity {
    from {
        opacity : 0;
        transform: translateY(-600px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}