.Hero{
    height: 100%;
    width: 100%;
    h1{
        padding-top: 2em;
        font-size: 1.8rem;
        margin-bottom: 1em;
        span#underline{
            border-bottom: 4px solid #000;
        }  
    }
    p{
        
        margin-top: 0;
        margin-left: 35%;
        margin-bottom: 25%;
        span#rule{
            font-size: 1.5em;
            font-weight: 800;
            color: #fff;
            text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
            -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
        }
    }   
    img#arrowDown{
        height: 100px;
        width: 100px;
    }
}

@media (min-width: 500px){
    .Hero{
        h1{
            padding-top: 1em;
            font-size: 2.5rem;
        }
        p{
            span#rule{
                font-size: 2em;
            }
        }
    }
}

@media (min-width: 780px){
    .Hero{
        h1{
            padding-top: 1em;
            font-size: 3rem;
        }
        p{
            span#rule{
                font-size: 2em;
            }
            margin-bottom: 15%;
        }
    }
}