@import '../_variables.scss';
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0.5em 1em;
    background-color: white;
    a{
        text-decoration: none;
        color: unset;
    }

    #logo{
        font-size: 1em;
    }

    .nickname{
        text-transform: uppercase;
        font-weight: 700;
        color: #333333;
        // color: white;
        // text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
        // -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
        // span{
        //     color: rgb(255, 109, 109);
        // }
    }
    nav{   

        position: fixed;
        right: 0;
        top: 0;
        
        transform: translateX(100%);
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        transition: transform 0.25s ease;

        img.close{
            float: right;
            height: 22.5px;
            max-width: 100%;
            padding-top: .8rem;
            padding-right: 1.2rem;
            cursor: pointer;

        }
  
        ul{
            list-style-type: none;
            display: block;
            line-height: 3.2rem;
            margin-top: 15%;
            padding: 2rem 3rem;
            text-align: center;
            li{
                font-size: 1.5rem;
                color: #0c0c0c;
            }

        }

    }
    img.menu{
        cursor: pointer;
        height: 28px;
        max-width: 100%;
    }
    
}

@media (min-width: 768px) {

    header{
        padding: 0.5em 0;
        height: auto;
        margin: 0 $margin-container;
        #logo{
            font-size: 1em;
        }
        nav{
            position: unset;
            transform: translateX(0);
            height: unset;
            width: unset;
            background-color: unset;

            img.close{
                float: none;
                display: none;
            }

            ul{
                display: flex;
                gap: 2rem;
                padding: 0;
                margin: 0;
                line-height: unset;
                li{
                    font-size: 1rem;
                }
            }
        }
        img.menu{
            display: none;
        }
    }
}

@media (min-width: 992px) {
    header{
      padding: 0.5em 0;
      margin: 0 $margin-container * 2;
    }
    
}

@media (min-width: 1279px) {
    header{
      padding: 0.5em 0;
      margin: 0 $margin-container * 3.4;
    }
    
}