header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0.5em 1em;

    a{
        text-decoration: none;
        color: unset;
    }

    #logo{
        font-size: 1.5em;
    }

    .nickname{
        text-transform: uppercase;
        font-weight: 900;
        color: #fff;
        text-shadow: 1px 1px 1px #000, 0 -1px 1px #000, 1px 1px 1px #000,
        -1px 0 0 #000, 1px 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000;
    }
    nav{   

        position: fixed;
        right: 0;
        top: 0;
        
        transform: translateX(100%);
        height: 100vh;
        width: 50%;

        background-color: #fff;
        transition: transform 0.25s ease;



        img.close{
            float: right;
            height: 22.5px;
            max-width: 100%;
            padding-top: .8rem;
            padding-right: 1.2rem;
            // margin-top: .2rem;
            // margin-right: .6rem;
            cursor: pointer;
        }
        
        ul{
            list-style-type: none;
            display: block;
            line-height: 3rem;
            margin-top: 25%;
            padding: 2rem 3rem;
            text-align: center;
            li{
                font-size: 1.5rem;
            }

        }

    }
    img.menu{
        cursor: pointer;
        height: 28px;
        max-width: 100%;
    }
    
}

@media (min-width: 768px) {

    header{
        #logo{
            font-size: 1em;
        }
        padding: 1.5em 4em;
        nav{
            position: unset;
            transform: translateX(0);
            height: unset;
            width: unset;
            background-color: unset;

            img.close{
                float: none;
                display: none;
            }

            ul{
                display: flex;
                gap: 2rem;
                padding: 0;
                margin: 0;
                line-height: unset;
                li{
                    font-size: 1rem;
                }
            }
        }
        img.menu{
            display: none;
        }
    }
}