@import '../_variables.scss';
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 0.5em 1em;
    background-color: white;
    z-index: 99999;
    a{
        text-decoration: none;
        color: unset;
    }

    #logo{
        font-size: 1.2rem;
    }

    .nickname{
        text-transform: lowercase;
        font-weight: 600;
        color: #000;
        span{
            color: rgba(173, 18, 44, 0.897);
        }
    }
    nav{   
        display: flex;
        flex-direction: column;
        align-items: center;

        // padding-top: 25%;
        position: fixed;
        // top: 0;
        right: 0;
        top: 0;
        
        transform: translateX(100%);
        height: 100vh;
        width: 100%;
        background-color: rgb(255, 255, 255);
        transition: transform 0.25s ease;

        img.close{
            // float: right;
            height: 24px;
            // max-width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            padding-top: .7em;
            padding-right: 1.2em;
            cursor: pointer;

        }
  
        ul{
            list-style-type: none;
            // display: block;
            margin-top: 25%;
            line-height: 4rem;
            padding: 0;
            // padding: 2rem 3rem;
            text-align: center;
            li{
                font-size: 2rem;
                color: #0c0c0c;
                
            }

        }

    }
    img.menu{
        cursor: pointer;
        height: 30px;
        max-width: 100%;
    }
    
}

@media (min-width: 768px) {

    header{
        padding: 0.5em 0;
        height: auto;
        margin: 0 $margin-container;
        #logo{
            font-size: 1em;
        }
        nav{
            position: unset;
            transform: translateX(0);
            height: unset;
            width: unset;
            background-color: unset;

            img.close{
                float: none;
                display: none;
            }

            ul{
                display: flex;
                gap: 2rem;
                padding: 0;
                margin: 0;
                line-height: unset;
                li{
                    font-size: 1rem;
                }
                li:hover{
                    // text-underline-position: under;
                    text-decoration:underline;
                }
            }
        }
        img.menu{
            display: none;
        }
    }
}

@media (min-width: 992px) {
    header{
      padding: 1.5em 0 1em;
      margin: 0 $margin-container * 2;
    }
    
}

@media (min-width: 1279px) {
    header{
      margin: 0 $margin-container * 3.3;
    }
    
}