#Projects{
    .project-container{
        display: grid;
        gap: 1em;
    }
    .project-tile{
        // border: 1px solid #333;
        padding: 0 1em;
        background-color: rgb(246, 246, 246);
        ul{
                padding: 0;
                display: flex;
                gap: 0.3em;
                li{
                    list-style-position:inside;
                    list-style-type: " | ";
                }
                li:first-child {
                    list-style: none;
                }
            }
            div.links{
                display: flex;
                gap: 2em;
                padding-bottom: 1em;
            }
        


    }
    #view-more-container{
        display: grid;
        justify-content: center;
        height: 5em;
        margin-top: 1.5em;
        .more-projects{
            border: none;
            outline: none;
            background-color: #fff;
            
            font-size: 1.2rem;
        }
        .more-projects:hover{
            text-decoration-line: underline;
        }
    }
    #FreeCodeCamp-projects{
        line-height: 1.5rem;
        margin-top: 3.5em;
    }
}
@media (min-width: 580px){
    #Projects,#FreeCodeCamp-projects{
        .project-container{
            grid-template-columns: repeat(2, 1fr);
        } 
    }
}

@media (min-width: 990px){
    #Projects,#FreeCodeCamp-projects{
        .project-container{
            row-gap: 1.4em;
            column-gap: 1.7em;
        } 
    }
}


