@import '../_variables.scss';
#Projects{
    padding-top: 2.8em;
    h2{
        font-weight: 600;
        // color: #111;
        color: $section-tittle-text-color;
    }
    #FreeCodeCamp-projects .project-container, #recent-projects .project-container{
        display: grid;
        gap: 1em;
        .project-tile{
            border: .5px solid $project-tile-border;
            padding: 0 1em;
            background-color: $project-tile-color;
            border-radius: .3em;
            position: relative;
            .project-detail{
                
                h3{
                    margin-bottom: 0;
                    color: $project-tittle;
                }
                p{
                    margin-top: .8em;
                    color: $project-details;
                }
                ul{
    
                    display: flex;
                    padding: 0;
    
                    li{
                        list-style-position:inside;
                        list-style-type: "  |  ";
                        letter-spacing: .09rem;
                        font-size: 0.9rem;
                        color: $tech-list;
                    }
                    li:first-child {
                        list-style: none;
                    }
                }
            }
    
            div.links{
                display: flex;
                gap: .7em;
                padding-bottom: 1em;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: .5em;
                    padding: .5em .7em;
                    color: $button-text-color;
                    background-color: $button-color;
                    border-radius: .25em;
                    text-decoration: none;
                    font-size: .9rem;
                    .link-icons{
                        font-size: .9em;
                    }
                }
                a:hover{
                    background-color: $hover-button-color;
                    color: $hover-button-text-color;
                }
            }
    
            
        }
    }
    #FreeCodeCamp-projects{
        margin-top: 3.5em;
    }
    #FreeCodeCamp-projects p{
        line-height: 1.5rem;
        color: $section-paragraph-text-color;
        a:link {
            color: $link-color;
        }
          
          /* visited link */
        a:visited {
            color: $visited-link-color;
        }
          
          /* mouse over link */
        a:hover {
            color: $hover-link-color;
        }
          
          /* selected link */
        a:active {
            color: $selected-link-color;
        } 
    }

    #view-more-container{
        display: grid;
        justify-content: center;
        height: 5em;
        margin-top: 3.5em;
        
        .more-projects{
            border: none;
            outline: none;
            background-color: $view-more-bg-color;
            color: $view-more-text-color;
            cursor: pointer;
            font-size: 1.3rem;
        }
        .more-projects:hover{
            text-decoration-line: underline;
        }
    }
    
}
@media (min-width: 810px){
    #Projects #recent-projects, #Projects #FreeCodeCamp-projects{
        .project-container{
            grid-template-columns: repeat(2, 1fr); 
            .project-tile{
                position: relative;
                .project-detail {
                    display: block;
                    padding: 0;
                    h3{
                        display: block;
                        margin: .8rem 0;
                    }
                    p{
                        display: block;
                        margin: 0;
                        font-size: 0.95rem;
                    }
                    ul.tech-stack{
                        position: absolute;
                        bottom: 4em;
                        padding: 0;
                        margin: 0;
                    }
                }
                div.links{
                    position: absolute;
                    bottom: .07em;
                    
                }
            }
            .project-tile.anchored {
                padding-bottom: 3rem;
            }
            
            .project-tile.large {
                padding-bottom: 6rem;
            }
            
        } 
    }
}

@media (min-width: 990px){
    #Projects #recent-projects, #Projects #FreeCodeCamp-projects{
        .project-container{
            row-gap: 1.4em;
            column-gap: 1.7em;
        } 
    }
}


