$margin-container: 5em;

// Color Variables

// header
$header-main-color: white;
$navbar-main-color: white;
$logo-last-letter-color: rgba(173, 18, 44, 0.897);
$header-text-color: #1a1b1f;

// Sections

$section-tittle-text-color: #1a1b1f;
$section-paragraph-text-color: #1a1b1f;

// Hero 

$hero-text-color: #1a1b1f;
$rule-text-outer-color: #1a1b1f;
$rule-text-inner-color: #ffffff;

// Projects

$project-tile-color: rgb(245, 245, 245);
$project-tile-border: #999;
$project-tittle: #1a1b1f;
$project-details: #1a1b1f;
$tech-list: #222;
$button-color: rgb(65, 65, 65);
$button-text-color: rgb(255, 255, 255);
$button-border-color: #222;
$hover-button-color: rgb(255, 255, 255);
$hover-button-text-color: #111;
$hover-button-border-color: #555;

//  Links

$link-color: green;
$visited-link-color: green;
$hover-link-color: rgba(173, 18, 44, 0.897);
$selected-link-color: yellow;

// View more

$view-more-bg-color: #fff;
$view-more-text-color: #1a1b1f;

// Arts

$art-tile-border: #999;
$art-card-boxShadow: rgb(0,0,0, .4);

// Contacts

$gmail-text-color: rgba(173, 18, 44, 0.897);
$socials-logo-color: #222;
$hover-socials-logo-color: rgba(173, 18, 44, 0.897);