@import './_variables.scss';

#root {
  display: grid;
  // gap: 2em;
  max-width: 1280px;
  min-width: 340px;
  margin: 0 1em;
}
@media (min-width: 768px) {
  #root{
    margin: 0 $margin-container;
  }
  
}
@media (min-width: 992px) {
  #root{
    margin: 0 $margin-container * 2;
  }
  
}

@media (min-width: 1279px) {
  #root{
    margin: 0 $margin-container * 3.3; 
  }
  
}